name: tflite
description: A Flutter plugin for TensorFlow Lite. Supports image classification, object detection (SSD, YOLO), Pix2Pix, Deeplab, and PoseNet on iOS and Android.
version: 1.1.2
homepage: https://github.com/your-repo/flutter_tflite

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.16.5

flutter:
  plugin:
    platforms:
      android:
        package: sq.flutter.tflite
        pluginClass: TflitePlugin
      ios:
        pluginClass: TflitePlugin
